<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       ">

	<bean name="employeeXMLConfigAspect"
		class="com.springaop.aspect.EmployeeXMLConfigAspect" />

	<aop:config>
		<aop:aspect ref="employeeXMLConfigAspect"
			id="employeeXMLConfigAspectID" order="1">
			<aop:pointcut
				expression="execution(* com.springaop.model.Employee.getName())"
				id="getNamePointcut" />
			<aop:around method="employeeAroundAdvice"
				pointcut-ref="getNamePointcut" arg-names="proceedingJoinPoint" />
		</aop:aspect>
	</aop:config>

	<aop:aspectj-autoproxy />

	<bean name="employee" class="com.springaop.model.Employee">
		<property name="name" value="Rupesh"></property>
	</bean>

	<bean name="employeeService"
		class="com.springaop.service.EmployeeService">
		<property name="employee" ref="employee"></property>
	</bean>

	<bean name="employeeAspect"
		class="com.springaop.aspect.EmployeeAspect" />
	<bean name="employeeAspectPointcut"
		class="com.springaop.aspect.EmployeeAspectPointcut" />
	<bean name="employeeAspectJoinPoint"
		class="com.springaop.aspect.EmployeeAspectJoinPoint" />
	<bean name="employeeAfterAspect"
		class="com.springaop.aspect.EmployeeAfterAspect" />
	<bean name="employeeAroundAspect"
		class="com.springaop.aspect.EmployeeAroundAspect" />
	<bean name="employeeAnnotationAspect"
		class="com.springaop.aspect.EmployeeAnnotationAspect" />

</beans>